<div class="row">
    <div class="container">
        <div class="logo">
            <img src="./assets/APLogo.png" alt="logo arg prg" id="Arg">
        </div>
        <div class="socialmedia">
            <a href="" ><img src="assets/instagram.png" alt="ig"></a>
            <a href="" ><img src="assets/github.png" alt="git"></a>
            <a href="" ><img src="assets/linkedin.png" alt="link"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">Ingresar</button>
        </div>
    </div>
</div>