<div class="row">
    <h1> Hard & soft skills</h1>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
</div>
